body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: #eee;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
header.header {
	background-color: #fff;
}
.header .logo {
	-webkit-flex: 1 1 auto; 
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.header .logo img {
	height: 52px;
}
.header .phone,
.header .chat {
	-webkit-order: 1;
	order: 1;
}
.header .phone {
	width: 240px;
	color: lightblue;
	font-size: 2em;
}
.header .chat {
	width: 160px;
	align-items: center;
}
.header .chat a {
	display: contents;
	text-decoration: none;
	color: #000;
}
.header .chat a i.chat-icon {
	background: url('../img/chat.jpg') no-repeat 0 0;
	width: 47px;
	height: 30px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 760px;
	
	max-width: 1350px;
	margin: 0 auto;
}
.content b {
	font-weight: bold;
}

.content .steps-tabs {
	height: 110px;
	align-items: center;
}
.content .steps-tabs .steps-tabs-item {
	height: 50px;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	background-color: #fff;
	margin-left: 5px;
	font-size: 16px;
	padding-left: 65px;
	background-repeat: no-repeat;
}
.content .steps-tabs .steps-tabs-item:first-child {
	margin: 0;
}
.content .steps-tabs .steps-tabs-item.active {
	color: lightblue;
	border-color: lightblue;
	background-color: transparent;
}
.content .steps-tabs .steps-tabs-item.done {
	background: url("../img/done.jpg") no-repeat 10px 50% #fff;
}
.content .steps-tabs .steps-tabs-item.choose_plan {
	background: url("../img/choose_plan.jpg") no-repeat 10px 50% #fff;
}
.content .steps-tabs .steps-tabs-item.add_users {
	background: url("../img/add_users.jpg") no-repeat 10px 50% #fff;
}
.content .steps-tabs .steps-tabs-item.checkout {
	background: url("../img/checkout.jpg") no-repeat 10px 50% #fff;
}
.content .steps-tabs-item,
.content .steps-item {
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.content .steps {
	max-width: 1230px;
	margin: 0 auto;
}
.content header h2 {
	height: 200px;
	align-items: center;
	color: #aaa;
	font-size: 2em;
	padding-right: 30px;
	padding-bottom: 60px;
}
.content header h2 a {
	display: contents;
}
.content header h2 a i {
	width: 25px;
	height: 25px;
	background: url("../img/info.jpg") no-repeat right center;
	margin-left: 20px;
	margin-bottom: 20px;
}
.steps-item .flex-container .flex-item.list ul {
	margin-left: 15px;
}
.steps-item .flex-container .flex-item.list ul > li {
	font-size: 16px;
	line-height: 1.5;
}
.steps-item .flex-container .price {
	text-align: center;
	padding: 20px 0;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -675px auto 0;
	min-height: 675px;
	background: rgb(70, 64, 64);
	position: relative;
	text-align: center;
}
.footer h3 {
	color: #fff;
	font-size: 2em;
	text-align: center;
	height: 2em;
	border-bottom: 3px solid #fff;
	align-items: center;
	width: 1100px;
	margin: 0 auto 2em;
	padding: 1.5em 0 0;
}
.footer .footer-menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-gap: 10px;*/
	grid-auto-rows: minmax(50px, auto);
	max-width: 1100px;
	margin: 0 auto;
}
.footer .footer-menu .footer-menu-item {
	color: #fff;
	font-size: 16px;
	text-align: left;
	padding-left: 55px;
	background: url(../img/cloud_pbx_icon.jpg) no-repeat 0 0;
	line-height: 1.5;
	text-decoration: none;
}
.footer .slogan {
	color: #fff;
	font-size: 18px;
	padding: 20px 0;
}

/* Flexbox CSS Layout
-----------------------------------------------------------------------------*/
.flex-container {
	display: -webkit-flex; 
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.header .flex-container {
	height: 105px;
	align-items: center;
	max-width: 1350px;
	margin: 0 auto;
}

.footer-menu.flex-container {
	flex-direction: row;
	max-width: 1100px;
	align-items: flex-start;
	flex-wrap: wrap;
	
}
.steps-item .flex-container {
	flex-direction: column;
	width: 100%;

}
.steps-item.flex-item {
	position: relative;
	flex: 1 1 auto;
	margin-left: 5px;
	background-color: transparent;
	overflow: visible;
}
.steps-item.flex-item .most_popular {
	position: absolute;
	left: 0;
	top: -60px;
	width: 100%;
	height: 60px;
	background-color: orangered;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	transform: translateY(0);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
    align-items: center;
	justify-content: center;
	font-size: 18px;
}
.steps-item.flex-item.popular .most_popular {
	display: inline-flex;
}
.steps-item.flex-item:hover  {
	background-color: #fff;
}
.steps-item.flex-item:first-child {
	margin: 0;
}
.steps-item.flex-item > div {
	padding: 0 5px;
	z-index: 20;
}
.steps-item.flex-item > div > div {
	border-bottom: 2px solid #ccc;
}
.steps-item.flex-item > div > div.price {
	font-size: 16px;
}
.steps-item.flex-item > div > div:last-child {
	border: 0 none;
}
.flex-item {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex: 0 1 auto; 
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
.steps-item .flex-container .flex-item {
	flex: 1 1 auto;
	justify-content: center;
}
.steps-item .flex-container .flex-item.header {
	height: 80px;
	align-items: center;
	color: #444;
	font-size: 22px;
	margin-bottom: 10px;
}
.steps-item .flex-container .flex-item.list {
	justify-content: start;
	min-height: 250px;
}
.steps-item .flex-container .flex-item.list li:before {
	content: "•"; /* Insert content that looks like bullets */
	padding-right: 3px;
	color: orangered; /* Or a color you prefer */
}
.steps-item .flex-container .select {
	font-size: 16px;
	padding: 25px 0;
	text-align: center;
	min-height: 150px;
}
.steps-item .flex-container .select input[type="radio"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.steps-item .flex-container .select label.container {
	display: block;
	position: relative;
	padding-top: 40px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: underline;
}
.steps-item .flex-container .select label.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.steps-item .flex-container .select label.container .checkmark {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -12px;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid blue;
}
.steps-item .flex-container .select label.container:hover input ~ .checkmark {
	background-color: gray;
}
.steps-item .flex-container .select label.container:checked input ~ .checkmark {
	background-color: rgb(31, 31, 51);
}
.steps-item .flex-container .select label.container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.steps-item .flex-container .select label.container input:checked ~ .checkmark:after {
	display: block;
}
.steps-item .flex-container .select label.container input:checked ~ input.continue {
	display: none;
}
.steps-item .flex-container .select label.container .checkmark:after {
	left: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	border: solid blue;
	background-color: blue;
	border-radius: 50%;
	content: "";
}
.steps-item .flex-container .select input[type="button"] {
	border: 0 none;
	width: 207px;
	height: 50px;
	border-radius: 5px;
	background-color: orange;
	display: none;
}
.steps-item.checked .flex-container .select input[type="button"] {
	display: inline-block;
}
.steps-item .flex-container .select input[type="button"]:hover,
.steps-item .flex-container .select input[type="button"]:focus {
	border: 0 none;
	outline: 0 none;
	cursor: pointer;
}

/* @Media Queries
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
	.wrapper {
		max-width: 1350px;
	}
}